:root {
    color-scheme: light;

    --ds-theme-fg-100: var(--ds-color-black-100);
    --ds-theme-fg-200: var(--ds-color-grey-900);
    --ds-theme-fg-300: var(--ds-color-grey-800);
    --ds-theme-fg-400: var(--ds-color-grey-700);
    --ds-theme-fg-500: var(--ds-color-grey-600);
    --ds-theme-fg-600: var(--ds-color-grey-500);
    --ds-theme-bg-100: var(--ds-color-white-100);
    --ds-theme-bg-200: var(--ds-color-grey-100);
    --ds-theme-bg-300: var(--ds-color-grey-200);
    --ds-theme-bg-400: var(--ds-color-grey-300);
    --ds-theme-bg-500: var(--ds-color-grey-400);
    --ds-theme-bg-200-transparent: #f4f6fa00;
    --ds-theme-bg-overlay-100: var(--ds-color-black-40);
    --ds-theme-bg-cadet-100: var(--ds-color-space-cadet-100);
    --ds-theme-bg-orchid-100: var(--ds-color-orchid-100);
    --ds-theme-bg-orchid-100-transparent: #f4eafe00;
    --ds-theme-bg-blue-100: var(--ds-color-blue-100);
    --ds-theme-bg-blue-500: var(--ds-color-blue-600);
    --ds-theme-bg-green-100: var(--ds-color-green-100);
    --ds-theme-bg-red-100: var(--ds-color-marsala-100);
    --ds-theme-text-primary: var(--ds-theme-fg-100);
    --ds-theme-text-secondary: var(--ds-theme-fg-500);
    --ds-theme-text-disabled: var(--ds-theme-bg-500);
    --ds-theme-text-primary-inv: var(--ds-theme-bg-100);
    --ds-theme-text-secondary-inv: var(--ds-theme-bg-500);
    --ds-theme-text-orchid: var(--ds-color-orchid-600);
    --ds-theme-text-green: var(--ds-color-green-500);
    --ds-theme-text-red: var(--ds-color-marsala-500);
    --ds-theme-text-blue: var(--ds-color-blue-700);
    --ds-theme-text-cadet: var(--ds-color-space-cadet-600);
    --ds-theme-ai-insight-bg-underlayer: var(--ds-color-white-100);
    --ds-theme-ai-insight-outline: var(--ds-color-white-100);
    --ds-theme-cmd-k-modal-bg: var(--ds-theme-bg-200);
    --ds-theme-bg-main-section-bg-gradient: linear-gradient(
        180deg,
        var(--ds-theme-bg-200) 0%,
        var(--ds-theme-bg-300) 100%
    );
    --ds-theme-bg-chat-gradient:
        linear-gradient(
            350deg,
            color-mix(in srgb, var(--ds-color-orchid-500) 12%, transparent)
                1.71%,
            transparent 67.02%
        ),
        linear-gradient(
            58deg,
            color-mix(in srgb, var(--ds-color-blue-600) 12%, transparent) 7.26%,
            transparent 54.43%
        ),
        var(--ds-theme-bg-200);

    --ds-semantic-brand-primary: var(--ds-color-orchid-500);
    --ds-semantic-brand-secondary: var(--ds-theme-bg-blue-500);
    --ds-semantic-brand-tertiary: var(--ds-theme-fg-300);

    --ds-semantic-text-heading-dark-primary: var(--ds-theme-text-primary);
    --ds-semantic-text-heading-light-primary: var(--ds-theme-text-primary-inv);
    --ds-semantic-text-body-dark-primary: var(--ds-theme-text-primary);
    --ds-semantic-text-body-dark-secondary: var(--ds-theme-text-secondary);
    --ds-semantic-text-body-light-primary: var(--ds-theme-text-primary-inv);
    --ds-semantic-text-body-light-secondary: var(--ds-theme-text-secondary-inv);
    --ds-semantic-text-body-blue-primary: var(--ds-theme-text-blue);
    --ds-semantic-text-body-blue-secondary: var(--ds-theme-bg-blue-500);
    --ds-semantic-text-body-yellow-primary: var(--ds-color-yellow-800);
    --ds-semantic-text-body-orchid-primary: var(--ds-theme-text-orchid);

    --ds-semantic-overlay-black-dark: var(--ds-theme-bg-overlay-100);
    --ds-semantic-overlay-black-medium: var(--ds-theme-bg-overlay-100);
    --ds-semantic-overlay-cadet-medium: var(--ds-color-space-cadet-800-40);

    --ds-semantic-button-bg-dark-primary: var(--ds-theme-fg-100);
    --ds-semantic-button-bg-dark-secondary: var(--ds-theme-fg-300);
    --ds-semantic-button-bg-light-primary: var(--ds-theme-bg-100);
    --ds-semantic-button-bg-light-secondary: var(--ds-theme-bg-200);
    --ds-semantic-button-bg-light-yellow: var(--ds-color-yellow-100);
    --ds-semantic-button-bg-light-orchid: var(--ds-theme-bg-orchid-100);
    --ds-semantic-button-bg-light-blue: var(--ds-theme-bg-blue-100);
    --ds-semantic-button-bg-icon-transparent: var(--ds-color-white-24);

    --ds-semantic-bg-white: var(--ds-theme-bg-100);
    --ds-semantic-bg-light-grey: var(--ds-theme-bg-200);

    --background: var(--ds-theme-bg-100);
    --foreground: var(--ds-theme-text-primary);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --ds-theme-fg-100: var(--ds-color-white-100);
        --ds-theme-fg-200: var(--ds-color-grey-100);
        --ds-theme-fg-300: var(--ds-color-grey-200);
        --ds-theme-fg-400: var(--ds-color-grey-300);
        --ds-theme-fg-500: var(--ds-color-grey-400);
        --ds-theme-fg-600: var(--ds-color-grey-500);
        --ds-theme-bg-100: var(--ds-color-black-100);
        --ds-theme-bg-200: var(--ds-color-grey-900);
        --ds-theme-bg-300: var(--ds-color-grey-800);
        --ds-theme-bg-400: var(--ds-color-grey-700);
        --ds-theme-bg-500: var(--ds-color-grey-600);
        --ds-theme-bg-200-transparent: #0e0f1100;
        --ds-theme-bg-overlay-100: var(--ds-color-black-64);
        --ds-theme-bg-cadet-100: var(--ds-color-space-cadet-700);
        --ds-theme-bg-orchid-100: var(--ds-color-orchid-700);
        --ds-theme-bg-orchid-100-transparent: #36076500;
        --ds-theme-bg-blue-100: var(--ds-color-blue-800);
        --ds-theme-bg-blue-500: var(--ds-color-blue-500);
        --ds-theme-bg-green-100: var(--ds-color-green-700);
        --ds-theme-bg-red-100: var(--ds-color-marsala-700);
        --ds-theme-text-secondary: var(--ds-theme-fg-600);
        --ds-theme-text-disabled: var(--ds-color-grey-600);
        --ds-theme-text-orchid: var(--ds-color-orchid-300);
        --ds-theme-text-green: var(--ds-color-green-400);
        --ds-theme-text-red: var(--ds-color-marsala-400);
        --ds-theme-text-blue: var(--ds-color-blue-500);
        --ds-theme-text-cadet: var(--ds-color-space-cadet-400);
        --ds-theme-ai-insight-bg-underlayer: var(--ds-color-grey-800);
        --ds-theme-ai-insight-outline: var(--ds-color-white-24);
        --ds-theme-cmd-k-modal-bg: var(--ds-theme-bg-300);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-black-100: var(--ds-color-black-100);
    --color-black-64: var(--ds-color-black-64);
    --color-black-40: var(--ds-color-black-40);
    --color-black-8: var(--ds-color-black-8);
    --color-white-100: var(--ds-color-white-100);
    --color-white-64: var(--ds-color-white-64);
    --color-white-24: var(--ds-color-white-24);
    --color-grey-100: var(--ds-color-grey-100);
    --color-grey-200: var(--ds-color-grey-200);
    --color-grey-300: var(--ds-color-grey-300);
    --color-grey-400: var(--ds-color-grey-400);
    --color-grey-500: var(--ds-color-grey-500);
    --color-grey-600: var(--ds-color-grey-600);
    --color-grey-700: var(--ds-color-grey-700);
    --color-grey-800: var(--ds-color-grey-800);
    --color-grey-900: var(--ds-color-grey-900);
    --color-orchid-100: var(--ds-color-orchid-100);
    --color-orchid-200: var(--ds-color-orchid-200);
    --color-orchid-300: var(--ds-color-orchid-300);
    --color-orchid-400: var(--ds-color-orchid-400);
    --color-orchid-500: var(--ds-color-orchid-500);
    --color-orchid-600: var(--ds-color-orchid-600);
    --color-orchid-700: var(--ds-color-orchid-700);
    --color-orchid-800: var(--ds-color-orchid-800);
    --color-marsala-100: var(--ds-color-marsala-100);
    --color-marsala-200: var(--ds-color-marsala-200);
    --color-marsala-300: var(--ds-color-marsala-300);
    --color-marsala-400: var(--ds-color-marsala-400);
    --color-marsala-500: var(--ds-color-marsala-500);
    --color-marsala-600: var(--ds-color-marsala-600);
    --color-marsala-700: var(--ds-color-marsala-700);
    --color-marsala-800: var(--ds-color-marsala-800);
    --color-blue-100: var(--ds-color-blue-100);
    --color-blue-200: var(--ds-color-blue-200);
    --color-blue-300: var(--ds-color-blue-300);
    --color-blue-400: var(--ds-color-blue-400);
    --color-blue-500: var(--ds-color-blue-500);
    --color-blue-600: var(--ds-color-blue-600);
    --color-blue-700: var(--ds-color-blue-700);
    --color-blue-800: var(--ds-color-blue-800);
    --color-orange-100: var(--ds-color-orange-100);
    --color-orange-200: var(--ds-color-orange-200);
    --color-orange-300: var(--ds-color-orange-300);
    --color-orange-400: var(--ds-color-orange-400);
    --color-orange-500: var(--ds-color-orange-500);
    --color-orange-600: var(--ds-color-orange-600);
    --color-orange-700: var(--ds-color-orange-700);
    --color-orange-800: var(--ds-color-orange-800);
    --color-yellow-100: var(--ds-color-yellow-100);
    --color-yellow-200: var(--ds-color-yellow-200);
    --color-yellow-300: var(--ds-color-yellow-300);
    --color-yellow-400: var(--ds-color-yellow-400);
    --color-yellow-500: var(--ds-color-yellow-500);
    --color-yellow-600: var(--ds-color-yellow-600);
    --color-yellow-700: var(--ds-color-yellow-700);
    --color-yellow-800: var(--ds-color-yellow-800);
    --color-green-100: var(--ds-color-green-100);
    --color-green-200: var(--ds-color-green-200);
    --color-green-300: var(--ds-color-green-300);
    --color-green-400: var(--ds-color-green-400);
    --color-green-500: var(--ds-color-green-500);
    --color-green-600: var(--ds-color-green-600);
    --color-green-700: var(--ds-color-green-700);
    --color-green-800: var(--ds-color-green-800);
    --color-space-cadet-100: var(--ds-color-space-cadet-100);
    --color-space-cadet-200: var(--ds-color-space-cadet-200);
    --color-space-cadet-300: var(--ds-color-space-cadet-300);
    --color-space-cadet-400: var(--ds-color-space-cadet-400);
    --color-space-cadet-500: var(--ds-color-space-cadet-500);
    --color-space-cadet-600: var(--ds-color-space-cadet-600);
    --color-space-cadet-700: var(--ds-color-space-cadet-700);
    --color-space-cadet-800: var(--ds-color-space-cadet-800);
    --color-space-cadet-800-40: var(--ds-color-space-cadet-800-40);
    --color-space-cadet-800-0: var(--ds-color-space-cadet-800-0);
    --color-neon-100: var(--ds-color-neon-100);
    --color-neon-200: var(--ds-color-neon-200);
    --color-neon-300: var(--ds-color-neon-300);
    --color-neon-400: var(--ds-color-neon-400);
    --color-neon-500: var(--ds-color-neon-500);
    --color-neon-600: var(--ds-color-neon-600);
    --color-neon-700: var(--ds-color-neon-700);
    --color-neon-800: var(--ds-color-neon-800);
    --color-pine-100: var(--ds-color-pine-100);
    --color-pine-200: var(--ds-color-pine-200);
    --color-pine-300: var(--ds-color-pine-300);
    --color-pine-400: var(--ds-color-pine-400);
    --color-pine-500: var(--ds-color-pine-500);
    --color-pine-600: var(--ds-color-pine-600);
    --color-pine-700: var(--ds-color-pine-700);
    --color-pine-800: var(--ds-color-pine-800);
    --color-brand-primary: var(--ds-semantic-brand-primary);
    --color-brand-secondary: var(--ds-semantic-brand-secondary);
    --color-brand-tertiary: var(--ds-semantic-brand-tertiary);
    --color-text-heading-dark-primary: var(
        --ds-semantic-text-heading-dark-primary
    );
    --color-text-heading-light-primary: var(
        --ds-semantic-text-heading-light-primary
    );
    --color-text-body-dark-primary: var(--ds-semantic-text-body-dark-primary);
    --color-text-body-dark-secondary: var(
        --ds-semantic-text-body-dark-secondary
    );
    --color-text-body-light-primary: var(--ds-semantic-text-body-light-primary);
    --color-text-body-light-secondary: var(
        --ds-semantic-text-body-light-secondary
    );
    --color-text-body-blue-primary: var(--ds-semantic-text-body-blue-primary);
    --color-text-body-blue-secondary: var(
        --ds-semantic-text-body-blue-secondary
    );
    --color-text-body-yellow-primary: var(
        --ds-semantic-text-body-yellow-primary
    );
    --color-text-body-orchid-primary: var(
        --ds-semantic-text-body-orchid-primary
    );
    --color-overlay-black-dark: var(--ds-semantic-overlay-black-dark);
    --color-overlay-black-medium: var(--ds-semantic-overlay-black-medium);
    --color-overlay-cadet-medium: var(--ds-semantic-overlay-cadet-medium);
    --color-button-bg-dark-primary: var(--ds-semantic-button-bg-dark-primary);
    --color-button-bg-dark-secondary: var(
        --ds-semantic-button-bg-dark-secondary
    );
    --color-button-bg-light-primary: var(--ds-semantic-button-bg-light-primary);
    --color-button-bg-light-secondary: var(
        --ds-semantic-button-bg-light-secondary
    );
    --color-button-bg-light-yellow: var(--ds-semantic-button-bg-light-yellow);
    --color-button-bg-light-orchid: var(--ds-semantic-button-bg-light-orchid);
    --color-button-bg-light-blue: var(--ds-semantic-button-bg-light-blue);
    --color-button-bg-icon-transparent: var(
        --ds-semantic-button-bg-icon-transparent
    );
    --color-bg-white: var(--ds-semantic-bg-white);
    --color-bg-light-grey: var(--ds-semantic-bg-light-grey);
    --color-theme-fg-100: var(--ds-theme-fg-100);
    --color-theme-fg-200: var(--ds-theme-fg-200);
    --color-theme-fg-300: var(--ds-theme-fg-300);
    --color-theme-fg-400: var(--ds-theme-fg-400);
    --color-theme-fg-500: var(--ds-theme-fg-500);
    --color-theme-fg-600: var(--ds-theme-fg-600);
    --color-theme-bg-100: var(--ds-theme-bg-100);
    --color-theme-bg-200: var(--ds-theme-bg-200);
    --color-theme-bg-300: var(--ds-theme-bg-300);
    --color-theme-bg-400: var(--ds-theme-bg-400);
    --color-theme-bg-500: var(--ds-theme-bg-500);
    --color-theme-bg-200-transparent: var(--ds-theme-bg-200-transparent);
    --color-theme-bg-overlay-100: var(--ds-theme-bg-overlay-100);
    --color-theme-bg-cadet-100: var(--ds-theme-bg-cadet-100);
    --color-theme-bg-orchid-100: var(--ds-theme-bg-orchid-100);
    --color-theme-bg-orchid-100-transparent: var(
        --ds-theme-bg-orchid-100-transparent
    );
    --color-theme-bg-blue-100: var(--ds-theme-bg-blue-100);
    --color-theme-bg-blue-500: var(--ds-theme-bg-blue-500);
    --color-theme-bg-green-100: var(--ds-theme-bg-green-100);
    --color-theme-text-primary: var(--ds-theme-text-primary);
    --color-theme-text-secondary: var(--ds-theme-text-secondary);
    --color-theme-text-disabled: var(--ds-theme-text-disabled);
    --color-theme-text-primary-inv: var(--ds-theme-text-primary-inv);
    --color-theme-text-secondary-inv: var(--ds-theme-text-secondary-inv);
    --color-theme-text-orchid: var(--ds-theme-text-orchid);
    --color-theme-text-green: var(--ds-theme-text-green);
    --color-theme-text-red: var(--ds-theme-text-red);
    --color-theme-text-blue: var(--ds-theme-text-blue);
    --color-theme-text-cadet: var(--ds-theme-text-cadet);
    --color-theme-ai-insight-bg-underlayer: var(
        --ds-theme-ai-insight-bg-underlayer
    );
    --color-theme-ai-insight-outline: var(--ds-theme-ai-insight-outline);
    --color-theme-cmd-k-modal-bg: var(--ds-theme-cmd-k-modal-bg);
}

@utility bg-theme-bg-main-section {
    background: var(--ds-theme-bg-main-section-bg-gradient);
}

@utility bg-theme-bg-chat {
    background: var(--ds-theme-bg-chat-gradient);
}
